body {
    background-color: #7c8d95; //Dulux denim drift
}

.main {
    height:100vh;

    .row {
        height:100%;
    }
}

#quote-box {
    padding: 50px;
    color: whitesmoke;
    height: 738px;
}

#text {
    font-family: 'Libre Baskerville', serif;
    font-size: 3em;
    text-align: justify;
    line-height: 1.8em;
    margin-top: 50px;
    
    &:before, &:after {
        content: "\"";
    }
}

#author {
    font-family: 'Roboto', sans-serif;
    text-align: right;
    font-size: 1.5em;

    &:before {
        content: "- ";
    }
}

.btn-primary {
    $contrast: #425465; //Dulux Breton Blue
    
    background-color: $contrast;
    border-color: $contrast;

    &:active, &:focus, &:hover {
        background-color: $contrast;
        border-color: $contrast;
    }

    i {
        font-size: 1.2rem;
    }
}

