body {
  background-color: #7c8d95;
}

.container {
  height: 100vh;
}

.container .row {
  height: 100%;
}

.container .row #quote-box {
  padding: 50px;
  color: whitesmoke;
  height: 738px;
}

.container .row #quote-box #text {
  font-family: 'Libre Baskerville', serif;
  font-size: 3em;
  text-align: justify;
  line-height: 1.8em;
  margin-top: 50px;
}

.container .row #quote-box #text:before {
  content: "\"";
}

.container .row #quote-box #text:after {
  content: "\"";
}

.container .row #quote-box #author {
  font-family: 'Roboto', sans-serif;
  text-align: right;
  font-size: 1.5em;
}

.container .row #quote-box #author:before {
  content: "- ";
}

.container .row #quote-box .btn-primary {
  background-color: #425465;
  border-color: #425465;
}

.container .row #quote-box .btn-primary:active, .container .row #quote-box .btn-primary:focus, .container .row #quote-box .btn-primary:hover {
  background-color: #425465;
  border-color: #425465;
}

.container .row #quote-box .btn-primary i {
  font-size: 1.2rem;
}
